PORT=3000
CUSTOMER_BOT_TOKEN=PASTE_CUSTOMER_BOT_TOKEN_IN_HOSTING_SECRETS
MINI_APP_URL=https://muxammadali20037-cell.github.io/Avtodrom/frontend/
FRONTEND_ORIGIN=https://muxammadali20037-cell.github.io
